.about-page .image-gallery-slide {
  outline: none;
}

.about-page .image-gallery .nav {
  opacity: 0;
  transition: .4s;
}

.about-page .image-gallery:hover .nav {
  transition: .3s;
  opacity: 1;
}

.image-gallery-bullets {
  top: 20px;
}

.image-gallery-bullet {
  background-color: #ffffff!important;
  border: none!important;
  box-shadow: none!important;
  transform: scale(.5);
  transition: 2s;
  opacity: 65%;
}

.image-gallery-bullet.active, .image-gallery-bullet:hover {
  transform: scale(.7);
}
