.floating-button button:focus {
  outline:0;
}

.floating-button {
  transition: background-color .2s;
}

.floating-button-appear.floating-button-appear-active {
  transform: scale(0);
  animation: 200ms floating-button-anim forwards;
  animation-delay: calc(50ms * var(--btn-index));
}

@keyframes floating-button-anim {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.floating-button__extend-leave {
  transform: translate(0);
}

.floating-button__extend-leave.floating-button__extend-leave-active {
  transform: translate(0, calc(var(--btn-index) * -70px));
  transition: transform calc(250ms) cubic-bezier(0.4, 0, 0.2, 1);;
}

{ --btn-index: 0; }
[data-floating-btn-index="1"] { --btn-index: 1; }
[data-floating-btn-index="2"] { --btn-index: 2; }
[data-floating-btn-index="3"] { --btn-index: 3; }
[data-floating-btn-index="4"] { --btn-index: 4; }
[data-floating-btn-index="5"] { --btn-index: 5; }
