
.animal-details__btn {
  transition: background-color .2s;
}

.animal-details-card__pet-img {
  max-height: 500px;
}

.animal-details-card-appear {
  opacity: 0.01;
  transform: translate(0, 20%);
}

.animal-details-card-appear.animal-details-card-appear-active {
  transform: translate(0);
  opacity: 1;
  transition: .2s ease-in;
}