.about__slider {
  margin: 0 15%;
}

.about__slider .slick-prev:before,
.about__slider .slick-next:before {
  color: #4a5568;
  font-size: 1.5rem;
}

.about__slider-item {
  cursor: pointer;
}

.about__slider-item:focus {
  outline: none;
}

.about__slider-img {
  width: auto;
  height: 75vh;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .about__slider-img {
    width: 100%;
    height: auto;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
